@font-face {
  font-family: 'Satoshi-Variable';
  src: url('./Satoshi-Variable.woff2') format('woff2');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi-Variable";
}

.header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 2px 20px;

  height: 300px;
  background-image: url("./header-bg.jpg");
  background-size: cover;
}

.logo {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  font-weight: bold;
  font-size: 2rem;
}

.logo img {
  max-height: 3rem;
}

.settings {
  grid-area: 1 / 4 / 2 / 5;
}

.search {
  grid-area: 2 / 2 / 3 / 4;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.search input {
  min-height: 20%;
  min-width: 120px;
  width: 50%;
  border: none;
  border-radius: 7px;
  padding: 5px;
}

.search input:focus {
  outline: none;
}

