@font-face {
  font-family: 'Satoshi-Variable';
  src: url('./assets/Satoshi-Variable.woff2') format('woff2');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi-Variable";
  font-weight: 500;
}

body {
  background-color: #17181A;
}

.header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 2px 20px;

  height: 200px;
  background-color: #17181A;
  background-size: cover;
  color: #FFF;
}

.logo {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  font-weight: 900;
  font-size: 2rem;
}

.logo img {
  max-height: 3rem;
}

.settings {
  grid-area: 1 / 4 / 2 / 5;
}

.search {
  grid-area: 2 / 2 / 3 / 4;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.search input {
  min-height: 20%;
  min-width: 120px;
  width: 50%;
  border: none;
  border-radius: 7px;
  padding: 5px;
}

.search input:focus {
  outline: none;
}

.simple-info .icon {
  width: 3rem;
}

.weather-container {
  display: flex;
  justify-content: center;
}

.day-card {
  display: grid;
  width: 50%;
  max-width: 480px;
  min-width: 470px;
}

.upper-card {
  display: grid;
  grid-template-columns: max-content 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  border-radius: 10px 10px 0 0;
  padding: 0.2rem 1rem;
  border: 2px solid #FFF;
}

.simple-info {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  justify-items: center;
}

.place {
  grid-area: 1 / 2 / 2 / 4;
  font-size: 2.5rem;
}

.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-auto-flow: column;
  padding: 0.2rem 1rem;
  border: 2px solid #FFF;
  border-top: 0;
  border-bottom: 0;
  column-gap: 1rem;
  background-color: #FFF;
}

.info .info-value {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
}

.carousel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 0 0 10px 10px;
  border: 2px solid #FFF;
  background-color: #FFF;
}

.carousel-item {
  display: grid;
  justify-items: center;
}

.carousel-item .item-icon {
  width: 2rem;
}

.carousel-item:not(:last-child) {
  border-right: 2px solid #000;
}

.loading {
  position: fixed;
  top: 33%;
  left: 45%;
  transform: translate(-50%, -50%);
  
  border: 16px solid #000;
  border-top: 16px solid #FFF;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  z-index: 3;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); } 
}

